
.gradle/6.1.1/vcsMetadata-1/
.gradle/6.5/
.gradle/buildOutputCleanup/
.gradle/checksums/
.gradle/vcs-1/
.idea/MasterRoad.iml
.idea/caches/
.idea/dictionaries/
.idea/gradle.xml
.idea/libraries/
.idea/modules.xml
.idea/modules/
.idea/vcs.xml
.idea/workspace.xml
MasterRoad.iml
build/
local.properties
