<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jyn.masterroad">

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name="com.jyn.masterroad.Kotlin.Coroutines.KotlinCoroutinesActivity"/>
        <activity android:name=".RecyclerView.RecyclerViewActivity" />
        <activity android:name=".NestedScrolling.NestedScrolling1Activity" />
        <activity android:name=".NestedScrolling.scrollview.ScrollViewActivity" /> <!-- startup初始化 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.jyn.masterroad.jetpack.startup.LitePalInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity android:name=".ConstraintLayout.MotionLayoutActivity" />
        <activity android:name=".ConstraintLayout.ConstraintLayoutActivity" />
        <activity
            android:name=".jetpack.bindingcollection.BindingCollectionActivity"
            android:label="BindingCollectionAdapter" />
        <activity android:name=".jetpack.livedata.LiveDataActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".jetpack.hilt.HiltDaggerActivity" />
        <activity android:name=".Thread.ThreadActivity" />
        <activity android:name=".RxJava.RxJavaActivity" />
        <activity android:name=".MainActivity">

            <!-- android:excludeFromRecents="true"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>