<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jyn.masterroad">

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name=".accessibility.AccessibilityActivity"></activity>
        <activity android:name=".utils.material.MaterialButtonActivity" />
        <activity android:name=".utils.material.ShapeableImageViewActivity" />
        <activity android:name=".jetpack.viewmodel.ViewModelActivity" />
        <activity android:name=".kotlin.koin.KoinActivity" />
        <activity android:name=".kotlin.flow.FlowActivity" />
        <activity android:name=".utils.okhttp_retrofit.OkhttpActivity" />
        <activity android:name=".jetpack.workmanager.WorkManagerActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".nestedscrolling.NestedScrolling2Activity" />
        <activity android:name=".kotlin.coroutines.KotlinCoroutinesActivity" />
        <activity android:name=".nestedscrolling.recyclerview.RecyclerViewActivity" />
        <activity android:name=".nestedscrolling.NestedScrolling1Activity" />
        <activity android:name=".nestedscrolling.scrollview.ScrollViewActivity" /> <!-- startup初始化 -->
        <activity android:name=".constraintLayout.MotionLayoutActivity" />
        <activity android:name=".constraintLayout.ConstraintLayoutActivity" />
        <activity android:name=".jetpack.bindingcollection.BindingCollectionActivity" />
        <activity android:name=".jetpack.livedata.LiveDataActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".utils.eventbus.EventBusActivity" />
        <activity android:name=".jetpack.hilt.HiltDaggerActivity" />
        <activity android:name=".concurrent.ThreadActivity" />
        <activity android:name=".utils.rxjava.RxJavaActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <!-- android:excludeFromRecents="true"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.jyn.masterroad.jetpack.startup.ARouterInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jyn.masterroad.jetpack.startup.KoinInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>